.questions {
  font-family: var(--font-garnett-regular);
}
.frequentlyAskedQuestionsContainer {
  margin: 0;
  height: 59px;
  flex: 1;
  position: relative;
  font-size: inherit;
  display: inline-block;
  max-width: 100%;
  font-family: inherit;
}
.frequentlyAskedQuestionsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-59xl) 0 var(--padding-60xl);
  box-sizing: border-box;
  max-width: 100%;
}
.weHaveCompiled {
  align-self: center;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 22px;
  font-family: var(--font-poppins);
  color: var(--black);
  margin-top: 33px;
}
.frameParent,
.heroInner {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-3xl);
}
.heroInner {
  width: 854px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
}
.howCanI {
  text-align: center;
  align-self: center;
  margin-top: 33px;
  /* position: relative; */
  line-height: 22px;
  font-weight: 500;
}
.typcnplusIcon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.typcnplusWrapper {
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.howCanIGetStartedWithRewParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.loremIpsumDolor {
  align-self: stretch;
  height: 53px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frameContainer {
  width: 854px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-7xl) var(--padding-base);
  gap: var(--gap-5xl);
}
.howCanI1 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.typcnplusIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.howCanIGetStartedWithRewGroup {
  width: 854px;
  height: 66px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-12xl) var(--padding-2xl)
    var(--padding-8xl);
  gap: var(--gap-xl);
}
.howCanI2 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.typcnplusIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.howCanIGetStartedWithRewContainer {
  width: 854px;
  height: 66px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-13xl) var(--padding-2xl)
    var(--padding-9xl);
  gap: var(--gap-xl);
}
.howCanI3 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.frameDiv,
.typcnplusIcon3 {
  overflow: hidden;
  flex-shrink: 0;
}
.typcnplusIcon3 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.frameDiv {
  width: 854px;
  height: 66px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-12xl) var(--padding-2xl)
    var(--padding-8xl);
  gap: var(--gap-xl);
}
.howCanI4 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.typcnplusIcon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.howCanIGetStartedWithRewParent1 {
  width: 854px;
  height: 66px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-12xl) var(--padding-2xl)
    var(--padding-8xl);
  gap: var(--gap-xl);
}
.howCanI5 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.typcnplusIcon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.howCanIGetStartedWithRewParent2 {
  width: 854px;
  height: 66px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-12xl) var(--padding-2xl)
    var(--padding-8xl);
  gap: var(--gap-xl);
}
.howCanI6 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.typcnplusIcon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.howCanIGetStartedWithRewParent3 {
  width: 854px;
  height: 66px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-12xl) var(--padding-2xl)
    var(--padding-8xl);
  gap: var(--gap-xl);
}
.howCanI7 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.typcnplusIcon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.howCanIGetStartedWithRewParent4 {
  width: 854px;
  height: 66px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-12xl) var(--padding-2xl)
    var(--padding-8xl);
  gap: var(--gap-xl);
}
.dataTransformer,
.frameGroup,
.hero {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 854px;
  overflow-x: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--black);
  font-family: var(--font-poppins);
}
.dataTransformer,
.hero {
  box-sizing: border-box;
}
.hero {
  flex: 1;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-88xl) var(--padding-xl) var(--padding-139xl);
  gap: var(--gap-55xl);
}
.dataTransformer {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-94xl);
  text-align: center;
  font-size: var(--font-size-23xl);
  color: var(--primary-100);
  font-family: var(--font-garnett-semibold);
}
@media screen and (max-width: 1400px) {
  .hero {
    padding-top: var(--padding-51xl);
    padding-bottom: var(--padding-84xl);
    box-sizing: border-box;
  }
  .dataTransformer {
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .frequentlyAskedQuestionsWrapper {
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
  .hero {
    gap: 37px 74px;
  }
}
@media screen and (max-width: 825px) {
  .frequentlyAskedQuestionsContainer {
    font-size: var(--font-size-15xl);
  }
  .hero {
    padding-top: var(--padding-26xl);
    padding-bottom: var(--padding-48xl);
    box-sizing: border-box;
  }
  .dataTransformer {
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frequentlyAskedQuestionsContainer {
    font-size: var(--font-size-6xl);
  }
  .hero {
    gap: 18px 74px;
  }
}
