.divider {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 11px;
}
.label {
  width: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
}
.month {
  margin: 0;
  height: 32px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: var(--font-garnett-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 49px;
}
.labelParent,
.slider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelParent {
  flex: 1;
  gap: var(--gap-8xs);
}
.slider {
  align-self: stretch;
  padding: 0 var(--padding-48xl);
}
.h1 {
  margin: 0;
  height: 56px;
  width: 26px;
  font-size: inherit;
  font-weight: 500;
  font-family: var(--font-space-grotesk);
  flex-shrink: 0;
  min-width: 26px;
}
.h1,
.month1,
.star {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.star {
  height: 56px;
  flex: 1;
  min-width: 90px;
}
.month1 {
  height: 38px;
  width: 61px;
  font-size: var(--font-size-base);
  flex-shrink: 0;
}
.parent,
.progressBar,
.toggleSwitch {
  display: flex;
  justify-content: flex-start;
}
.parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  row-gap: 20px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-300);
  font-family: var(--font-garnett-medium);
}
.progressBar,
.toggleSwitch {
  align-items: flex-start;
}
.progressBar {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
}
.toggleSwitch {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-17xl) 0 var(--padding-16xl);
  font-size: var(--font-size-4xl);
}
.suitableForCompanies {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.icons {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.interviewReadyCandidates {
  flex: 1;
  position: relative;
}
.iconsParent {
  align-self: stretch;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.icons1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.unlimitedJobPostings {
  flex: 1;
  position: relative;
}
.projectCard {
  align-self: stretch;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.icons2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.receivePreVettedProfiles {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 170px;
}
.iconsGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.icons3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.dedicatedAccountManager {
  flex: 1;
  position: relative;
}
.iconsContainer {
  align-self: stretch;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.icons4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.assistanceWithInterview {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 159px;
}
.headerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.icons5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.customReports {
  flex: 1;
  position: relative;
}
.button,
.frameDiv,
.projects {
  display: flex;
  justify-content: center;
}
.frameDiv {
  align-self: stretch;
  height: 24px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.button,
.projects {
  flex-direction: column;
  align-items: center;
}
.projects {
  align-self: stretch;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
.button {
  flex: 1;
  gap: var(--gap-xl);
}
.buttonWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-lgi);
  font-family: var(--font-garnett-medium);
}
.getStarted {
  width: 103px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 103px;
  white-space: nowrap;
}
.vectorIcon,
.vectorIcon1 {
  height: 0;
  width: 18px;
  position: relative;
  z-index: 1;
}
.vectorIcon1 {
  height: 14px;
  width: 7px;
  z-index: 2;
  margin-left: -5px;
}
.arrow,
.simpleButton {
  flex-direction: row;
  justify-content: center;
}
.arrow {
  height: 14px;
  width: 1px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  align-items: center;
}
.simpleButton {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--primary-100);
  box-shadow: 0 20px 40px rgba(92, 39, 192, 0.35);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-base) var(--padding-xl);
  gap: var(--gap-base);
}
.paragpraph,
.simpleButtonWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.simpleButtonWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.paragpraph {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 20px 40px rgba(118, 118, 118, 0.35);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-15xl) var(--padding-15xl) var(--padding-11xl)
    var(--padding-16xl);
  box-sizing: border-box;
  gap: var(--gap-27xl);
  min-width: 274px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--primary-100);
  font-family: var(--font-space-grotesk);
}
@media screen and (max-width: 825px) {
  .h1,
  .star {
    font-size: var(--font-size-13xl);
  }
  .paragpraph {
    padding-top: var(--padding-3xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .divider,
  .month {
    font-size: var(--font-size-lg);
  }
  .labelParent {
    flex-wrap: wrap;
  }
  .h1,
  .star {
    font-size: var(--font-size-5xl);
  }
  .headerWrapper,
  .iconsGroup,
  .parent {
    flex-wrap: wrap;
  }
  .paragpraph {
    gap: 23px 46px;
  }
}
